<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title))%> | AttendanceApp</title> <%# ページタイトルとAppタイトルがセットで表示される%>
    <%= csrf_meta_tags %> <%# CSRFは、悪意のあるユーザーが不正なリクエストを送信する攻撃を防ぐためのセキュリティ対策です。%>
    <%= stylesheet_link_tag    'application', media: 'all','data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %> <%# このコードはapp/views/layouts/_shim.html.erbというファイルを探して、その内容を評価して結果をビューに挿入します。%>
  </head>

  <body>
    <%= render 'layouts/header'%> <%# パーシャルファイルを使って呼び出している。%>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
